<div class="splash" [class.salida]="saliendo()" (click)="cerrar()">
  <img class="fondo-img" src="https://i.pinimg.com/736x/53/53/be/5353bec416f8582ea385b123c9b75c35.jpg" alt="Intro" />
  <div class="velo"></div>

  <span class="brillo b1">✦</span>
  <span class="brillo b2">✦</span>
  <span class="brillo b3">✦</span>
  <span class="brillo b4">✦</span>
  <span class="brillo b5">✦</span>

  <div class="contenido">
    <span class="etiqueta">Portfolio · Sabine</span>
    <h1 class="titulo">
      <span class="linea"><span>Tú puedes</span></span>
      <span class="linea"><span>ser lo que</span></span>
      <span class="linea"><span class="enfasis">quieras ser</span></span>
    </h1>
  </div>

  <div class="carga">
    <span class="texto-carga">Cargando</span>
    <div class="barra">
      <div class="relleno"></div>
    </div>
  </div>
</div>